<nav class="main-nav">
  <ul>
    <li><a class="js-link" href="/">About</a></li>
    <li><a class="js-link" href="/projects">Projects</a></li>
    <li><a class="js-link" href="/test">Test</a></li>
  </ul>
</nav>