---
title: Victor Delgado | About me
---

<div class="wrapper">

  <div class="column column--left">
    <%= partial "partials/_main-nav" %>
    <div class="headshot front"></div>
  </div>

  <div class="column column--right">
    <section class="text">

      <p>Hi there! I am <a class="link swap" href="#">Victor</a>.</p>

      <p>I am a maker with background both in software development and business management.<br />
      I enjoy startups, mountain running and good food.<br /></p>

      <p>Besides working on <a class="link" href="http://3scale.net">making APIs easy</a>, I love building products and even more if they
      solve <a class="link" href="http://tinychart.co">my</a> <a class="link" href="http://requestdiff.com">own</a> <a class="link" href="https://github.com/vdel26/gifted">needs</a>.<br /></p>

      <p>I am always looking to work on new ideas. If you have one and you think I can help shoot me an <a class="link" href="mailto:vdel26+web@gmail.com">email</a> right away.</p>

      <p>You can find me on <a class="link" href="http://twitter.com/lechienvic">Twitter</a>, <a class="link" href="http://github.com/vdel26">Github</a> or <a class="link" href="http://es.linkedin.com/in/vdelgado/es">Linkedin</a>.</p>

    </section>
  </div>

</div>