@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: local("Roboto"),
       url("../fonts/Roboto-Regular.woff") format("woff"),
       url("../fonts/Roboto-Regular.ttf") format("truetype"),
       url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype");
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  color: #333;
  text-rendering: optimizeLegibility;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10vw;
}

.headshot {
  cursor: -webkit-grab;
  cursor: grab;
  width: 127px;
  height: 127px;
  margin: 16px 65px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.headshot.front {
  background: url("../images/headshot.png") center no-repeat;
}

.headshot.back {
  background: url("../images/headshot-back.png") center no-repeat;
}

.text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 500px;
      -ms-flex: 0 0 500px;
          flex: 0 0 500px;
}

.link {
  text-decoration: none;
  color: #08c28b;
  border-bottom: 1px #08c28b dotted;
}

.link:hover {
  color: white;
  background: #08c28b;
  border-bottom: 0;
}

@media screen and (max-width: 800px) {
  .wrapper { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .text { margin: 0 10vw; }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: portrait) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5vw;
  }
  .headshot {
    margin-bottom: 10vw;
    margin-top: 0;
  }
  .text { margin: 0 5vw; }
}
