@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: local("Roboto"),
       url("../fonts/Roboto-Regular.woff") format("woff"),
       url("../fonts/Roboto-Regular.ttf") format("truetype"),
       url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  color: #333;
  text-rendering: optimizeLegibility;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10vw;
}

.headshot {
  cursor: grab;
  width: 127px;
  height: 127px;
  margin: 16px 65px;
  flex: 0 0 auto;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow .30s;
}

.headshot.front {
  background: url("../images/headshot.png") center no-repeat;
}

.headshot.back {
  background: url("../images/headshot-back.png") center no-repeat;
}

.headshot.moving {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.text {
  flex: 0 0 500px;
}

.link {
  text-decoration: none;
  color: #08c28b;
  border-bottom: 1px #08c28b dotted;
}

.link:hover {
  color: white;
  background: #08c28b;
  border-bottom: 0;
}

@media screen and (max-width: 800px) {
  .wrapper { flex-direction: column; }
  .text { margin: 0 10vw; }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: portrait) {
  .wrapper {
    flex-direction: column;
    margin-top: 5vw;
  }
  .headshot {
    margin-bottom: 10vw;
    margin-top: 0;
  }
  .text { margin: 0 5vw; }
}
