---
layout: "samwise_layout"
title: "Acmebnb"
---

<main class="container px2 mb4 relative">
  <header class="sm-flex mt3 mb3">
    <div class="sm-flex flex-grow flex-baseline">
      <h2 class="flex-none m0 mr4">Acmebnb</h2>
      <nav class="flex flex-grow py1">
        <a href="/samwise.js/example/index.html" class="btn caps">Hosting</a>
        <a href="/samwise.js/example/section.html" class="btn caps px3">Traveling</a>
      </nav>
    </div>
    <button id="docs" class="flex-none caps button button-outline blue">HELP</button>
  </header>

  <h3>Section: Traveling</h3>

  <p>This section explains how to discover and rent unique places around the world with Acmebnb.</p>
  <p>Bacon ipsum dolor amet capicola pastrami short ribs picanha salami chuck. Minim cow sed mollit dolore nulla. Nisi cupidatat tongue consequat et. Short ribs tenderloin swine jerky chuck filet mignon. Frankfurter rump aliquip sausage salami tongue andouille officia veniam labore ipsum jerky in esse. Tempor cow ut, bresaola alcatra excepteur mollit turducken magna ipsum beef ribs incididunt nisi ad leberkas.</p>
  <p class="blue">Click on "HELP" to see Samwise in action.</p>

</main>

<%= javascript_include_tag 'https://cdn.rawgit.com/vdel26/samwise.js/master/samwise.js' %>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // invoke with the corresponding section name
    samwise({
      elem: '#docs',
      url: 'https://s3.amazonaws.com/samwise-json/example.json',
      section: 'traveling'
    });
  });
</script>